body {
    background-color: #f0f8ff; 
    font-family: Arial, sans-serif; 
    color: #333333; 
    margin: 0; 
    padding-top: 60px; 
}

h1 {
    color: #d9006c; 
    text-align: center; 
    border-bottom: 3px solid #d9006c;
}

h2 {
    color: #0077b6; 
}

.hero-section {
    text-align: center; 
    padding: 60px 20px;
    background-color: #fff;
}

.hero-title {
    border-bottom: none;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.perfil-container {
    max-width: 800px;
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
  text-align: center;
}

img {
    display: block; 
    width: 200px;
    height: 200px;
    margin: 20px auto; 
    border-radius: 50%; 
    border: 5px solid #0077b6; 
}

.toolbar {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 60px; 
    background-color: #0077b6; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  
}

.menu-nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    
    background-color: transparent; 
    padding: 5px 10px; 
    border-radius: 4px;
}

.menu-nav a:hover {
    background-color: rgba(243, 6, 6, 0.895);
    transition: background-color 0.3s ease;
}

html {
    scroll-behavior: smooth; 
}
